* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;

}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #0056b3; /* Blue accent color */
}

.cta-btn {
    background-color: #0056b3; /* Primary blue color */
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #3498db; /* Darker blue for hover */
    color: #fff;
}

.hero {
    height: 100vh;
    background: url('hero-bg.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0056b3;
    text-align: center;
    padding-top: 80px;
    padding: 40px;
    padding-bottom: 40px;
}

.hero h1 {
    font-size: 3rem;
    animation: fadeIn 1.5s ease-in-out;
}

.hero p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.features {
    padding: 80px 20px;
    background-color: #fff;
    text-align: center;
    padding: 80px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.feature {
    text-align: center;
}

.feature i {
    font-size: 3rem;
    color: #0056b3; /* Blue icon color */
    transition: transform 0.3s ease;
}

.feature:hover i {
    transform: scale(1.2);
}

.pricing {
    background-color: #fff;
    padding: 60px 80px;
    text-align: center;
    padding: 80px;
}

.pricing-cards {
    display: flex;
    justify-content: space-around;
}

.pricing-card {
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.pricing-card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content p {
    margin-bottom: 10px;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #0056b3; /* Blue hover for social icons */
}

.logo {
    background-color: #0056b3;
    border-radius: 30px;
    color: #f4f4f4;
    height: 80px;
    width: 300px;
    padding: 40px;
}

